@font-face {
    font-family:'Helvetica', sans-serif;
    src: url(fonts/helvetica.woff2);
    font-weight:400;
    font-style:normal;
  }

@font-face {
    font-family:'Helvetica-bold', sans-serif;
    src: url(fonts/helvetica-bold.woff2);
    font-style:normal;
    font-weight:700;
}
html{
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after{
    box-sizing: inherit;
  }
  
  a{
    color: inherit;
    text-decoration: none;
  }
  
  li{
    list-style: none;
  }
  
  img{
    max-width: 100%;
  }
  
  button{
    color:inherit; 
    font-size: inherit;
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-family: inherit;
    padding:0;
  }

  body{
    font-family:'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    color:#5C5C5E;
    min-width: 320px;
    overflow-x: hidden;
  }

  .header{
    border-bottom: 1px solid #CACAD6;
  }

  .section-title{
    text-transform: uppercase;
    font-weight: 400;
  }

  .nav{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    height: 80px;
  }

  .container{
    max-width: 1220px;
    padding:0 10px;
    margin:0 auto;
  }

  .menu-btn{
    display: none;
    width:40px;
    height:30px;
    flex-direction: column;
    justify-content: space-between;
  }

  .menu-btn span{ 
    width:100%;
   height:2px;
   background-color: black;
  }

  .menu{
    display: flex;
    gap:0 20px;
  }

  .basket{
    position:relative;
    justify-self: end;
  }

  .logo{
    justify-self:center;
    display: flex;
  }

  .basket--on span{
    font-size: 11px;
    width:15px;
    height:15px;
    line-height: 0;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    right:-2px;
    bottom: 0;
  }

  .top{
    min-height:calc(100vh - 81px);
    background-image:url(images/Rectangle\ 2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
  }

  .title{
    padding-top: 230px;
    font-size: 96px;
    margin-bottom: 10px;

  }

  .subtitle{
    font-size: 36px;
    margin-bottom: 5px;
  }

  .top__text{
    font-size: 13px;
    margin-bottom: 50px;
  }

  .buy__text{
    padding-top: 6px;
    font-size: 13px;
  }

  .buy-btn{
    cursor: pointer;
    border:none;
    background: linear-gradient(180deg, #BC10D8 0% , rgba(80, 0, 250, 0.93)100%);
    display: flex;
    padding: 0;
    text-transform: uppercase;
  }

  .buy-btn__text{
    color:#F6F4F5;
    padding: 20px 110px;
   text-transform: uppercase;
  }

  .buy-btn__price{
    background-color: #F6F4F5;
    padding: 20px 105px; 
  }

.features{
  padding:100px 0 ;
}

.features__titles{
  display: flex;
}

.features__title{
  flex-basis: 300px;
  padding-right: 20px;
}

.features__text{
  max-width: 330px;
  text-transform: uppercase;
  font-size: 36px;
  margin-bottom: 2px;
  background:linear-gradient(180deg, #BC10D8 0% , rgba(80, 0, 250, 0.93)100%);
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
}

.tabs{
  display: grid;
  grid-template-columns: 300px auto;
}

.tabs__btn{
  display: flex;
  flex-direction: column;
  align-items: start;
}

.tabs__btn-item{
  font-weight: 700;
  margin-bottom: 20px;
}

.tabs__btn-item--active{
  color:#070707;
}

.tabs__content{
  position:relative;
  min-height: 300px;
}

.tabs__content-item{
  display: grid;
  grid-template-columns: auto 280px;
  grid-template-rows: auto 150px;
  gap:40px;
  opacity: 0;
  position: absolute;
  transition: opacity 0.3s ease;
}

.tabs__content-item--active { 
  opacity: 1;  
}

.tabs__content-box h3{
  font-weight:400;
  font-size:24px;
  margin-bottom: 5px;
}

.tabs__content-img{
  grid-row: 1/-1;
  align-self: stretch;
  object-fit: cover;
}

.video{
  grid-column: 2/3;
  width:280px;
  height:150px;
  background-image: url(images/Rectangle\ 4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  padding:9px 10px;
}

.video__btn{
  margin-left: 22px;
}

.video span{
  font-size:13px;
  color:#F6F4F5;
} 

.game{
  margin-bottom: 100px;
}

.game__title{
  margin-bottom: 50px;
}

.game__inner{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

.game__descr{
  padding-right: 10px;
}

.game__descr-title{
  text-transform: uppercase;
  background:linear-gradient(180deg, #BC10D8 0% , rgba(80, 0, 250, 0.93)100%);
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
  font-size: 36px;
  margin-bottom: 10px;
}

.game__descr-text{
  margin-bottom: 24px;
}

.game__link{
  display: inline-block;
  background:linear-gradient(180deg, #BC10D8 0% , rgba(80, 0, 250, 0.93)100%);
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  text-transform: uppercase;
  padding:16px 15px 12px;
  width: 225px;
  text-align: center;
  border:1px solid ;
  border-image:linear-gradient(180deg, #BC10D8 0% , rgba(80, 0, 250, 0.93)100%) 1;
}

.game__item{
  border:1.5px solid  #BC10D8;
  padding: 10px 20px 18px;
  display: flex;
  flex-direction: column;
}

.game__item-img{
  margin-bottom: 10px;
}

.game__item-title{
  font-size: 24px;
  margin-bottom: 10px;
}

.game__item-text{
  margin-bottom: 30px;
}

.game__item-link{
  background:linear-gradient(180deg, #BC10D8 0% , rgba(80, 0, 250, 0.93)100%);
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
  margin-top: auto;
}

.buy{
  margin-bottom: 110px;
  text-align: center;
  position: relative;
  overflow-x: hidden;
}

.buy__bg{
  margin-bottom: 30px;
}

.buy .buy-btn{
  margin:0 auto;
}

.buy__bg{
  background:linear-gradient(180deg, #BC10D8 0% , rgba(80, 0, 250, 0.93)100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  line-height: 400px;
  font-size: 400px;
  opacity: 0.1;
  position: absolute;
  z-index: -1;
  animation: line-text 6s linear 1s infinite;
}

@keyframes line-text {  
  from{
    transform:translateX(115%);
    transform-origin: left center;
  }
  to{
    transform:translateX(-115%);
    transform-origin: right center;
  }
}

.equipment{
  margin-bottom: 100px;
}

.equipment__title{
  margin-bottom: 50px;
}

.equipment__box{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap:20px;
}

.equipment__box-img{
  margin-bottom: 10px;
}

.equipment__box-title{
  background:linear-gradient(180deg, #BC10D8 0% , rgba(80, 0, 250, 0.93)100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 50px;
}

.equipment__box-item--one{
  grid-row:1/-1;
}

.promo{
  margin-bottom: 100px;
}

.promo__inner{
  background-image:url(images/quest-2-9.webp);
  min-height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  position: relative;
  border-radius: 10px;
}

.promo__btn{
  font-weight: 700;
  color:white;
  background:linear-gradient(180deg, #BC10D8 0% , rgba(80, 0, 250, 0.93)100%);
  border-radius: 50%;
  padding:16px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 80px;
  left:0;
  right: 0;
  margin: 0 auto;
}

.accessories{
  margin-bottom: 100px;
}

.accessories__title{
  margin-bottom: 30px;
}

.accessories__text{
  margin-bottom: 30px;
  font-size: 36px;
  background:linear-gradient(180deg, #BC10D8 0% , rgba(80, 0, 250, 0.93)100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

.accessories__items{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.accessories__item{
  padding: 20px;
  border:1px solid;
  border-image:linear-gradient(180deg, #BC10D8 0% , rgba(80, 0, 250, 0.93)100%) 1;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}

.accessories__item-img{
  margin-bottom: 10px;
}

.accessories__item-title{
  font-size: 24px;
  color:#070707;
  min-height: 67px;
}

.accessories__item-text{
  margin-bottom: 35px;
  margin-top: auto;
}

.accessories__item-price{
  font-weight: 700;
  line-height: 18px;
  color: #070707;
  margin-bottom:20px;
  margin-top: auto;
}

.accessories__item-btn{
  border:1px solid;
  border-image:linear-gradient(180deg, #BC10D8 0% , rgba(80, 0, 250, 0.93)100%) 1;
  padding:6px;
  font-weight: 700;
  background:linear-gradient(180deg, #BC10D8 0% , rgba(80, 0, 250, 0.93)100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.reviews{
  margin-bottom:75px;
}

.reviews__box{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  gap:20px
}

.review__card{
  border:1px solid #5C5C5E;
  padding:20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.review__card:hover{
  border:1px solid;
  border-image:linear-gradient(180deg, #BC10D8 0% , rgba(80, 0, 250, 0.93)100%) 1;
  transition: border-radius 0.5s linear;
  box-shadow: #5a5a5a5a 1px 1px 0.5px 0.5px;
}

.review__card-img{
  max-width: 100%;
  width:150px;
  height:150px;
  border-radius: 50%;
}

@keyframes color-change {
  0% 
  { 
    background:linear-gradient(180deg, #BC10D8 0% , rgba(80, 0, 250, 0.93)100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
  }
  25% {
    background:linear-gradient(-180deg, #BC10D8 0% , rgba(80, 0, 250, 0.93)100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
  }
  50% 
  { 
    background:linear-gradient(180deg, #BC10D8 0% , rgba(80, 0, 250, 0.93)100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
  }
  75% 
  { 
    background:linear-gradient(-180deg, #BC10D8 0% , rgba(80, 0, 250, 0.93)100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
  }
  100% 
  { 
    background:linear-gradient(180deg, #BC10D8 0% , rgba(80, 0, 250, 0.93)100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
  }
}

.review__stars {
  animation: color-change 5s infinite; 
}

.review__card-name{
  font-size: 28px;
  font-weight: 700;
  color: #070707;
}

.review__card-name{
  font-size: 28px;
  font-weight: 700;
  background:linear-gradient(180deg, #BC10D8 0% , rgba(80, 0, 250, 0.93)100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contacts{
  margin-bottom: 100px;
}

.contacts__title{
  font-size: 24px;
  line-height: 33px;
  color:#070707;
  margin-bottom: 10px;
}

.contacts__inner{
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.contacts__form{
  flex-basis: 600px;
}

.contacts__text{
  font-size: 13px;
}

.form{
  margin-bottom: 10px;
  position:relative;
  width:100%;
  border:none;
  border-bottom:1px solid #CACAD6;
}

.form__input{
  width:100%;
  border:none;
  border-bottom:1px solid #CACAD6;
  padding: 22px 70px 22px 0;
}

.form__input:placeholder{
  font-family:'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
}

.form__btn{
  width: 50px;
  height: 50px;
  background-color: #CACAD6;
  text-transform: uppercase;
  font-weight: 700;
  color:#5C5C5E;
  border-radius: 50%;
  position: absolute;
  right: 0;
}

.footer{
  border-bottom:1px solid #CACAD6;
  border-top:1px solid #CACAD6;
  margin-bottom: 44px;
  padding: 30px 0;
}

.social{
  display: flex;
  gap:20px;
  justify-self:end;
}

@media (max-width:1140px){
  .footer .menu{
    display: none;
  }
  .footer .nav{
    display:flex;
    justify-content: space-between;
  }
}

@media (max-width:992px){
  .tabs{
    display: block;
  }
  .tabs__btn{
    display: block;
    column-count: 2;
  }
  .tabs__btn-item{
    display: block;
  }
  .game__inner{
    grid-template-columns: 1fr 1fr;
    gap:25px;
  }
  .accessories__items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:30px;
  }
}

@media (max-width:820px){
  .equipment__box{
    grid-template-columns: 1fr 1fr 1fr;
  }
  .contacts__inner{
    display: block;
  }
  .contacts__form{
    margin-bottom: 20px;
  }
  .menu-btn{
    display: flex;
  }
  .menu{
    transform: translateX(-100%);
    transition: transform 1s;  
    position: absolute;
    top:80px;
    left:0;
    right:0;
    width:320px;
    background-color: #000;
    color:#fff;
    padding: 100px 0;
    align-items: center;
    flex-direction: column;
  }
  .menu.menu--active{
    transform: translateX(0%);
  }
  .menu__link{
    font-size: 24px;
    padding: 10px 0;
    display: inline-block;
  }
}

@media (max-width:768px){
  .title{
    font-size: 66px;
  }
  .subtitle{
    font-size: 24px;
  }
  .reviews__box{
    display: grid;
    grid-template-columns: 1fr;
    gap:20px
  }
}

@media (max-width:640px){
  .buy-btn{
    flex-direction: column;
    margin: 0 auto;
  }
  .top{
    text-align: center;
  }
}

@media (max-width:568px){
  .features__titles{
    display: block;
  }
  .tabs__content-item{
    display: block;
    height:0;
    position: relative;
  }
  .tabs__content-item--active{
    height:auto;
  }

  .video{
    width: auto;
    height: 250px;
    margin-top: 20px;
  }
  .game__inner{
    grid-template-columns: 1fr;
    gap:25px;
  }
  .equipment__box{
    display: block;
  }
  .equipment__box-img{
    width: 100%;
  }
  .equipment__box-text{
    margin-bottom: 10px;
  }
  .accessories__items{
    display: grid;
    grid-template-columns:1fr;
    gap:20px;
  }
  .accessories__text{
    font-size: 28px;
  }
  .nav{
    grid-template-columns: 1fr 2fr 1fr;
  }
  .footer .nav{
    flex-direction: column;
    height:auto;
  }
  .social{
    order:-1;
    margin-bottom: 20px;
    gap:30px;
  }

}

@media (max-width:420px){
  .title{
    font-size: 48px;
  }
  .subtitle{
    font-size: 20px;
  }
  .tabs__btn{
    column-count: 1;
  }
  .features__text{
    font-size: 32px;
  }
  .menu{
    width:100%;
  }
}